<%- include('includes/header') %>
<!-- Main content -->
<main class="contenedor">
    <!-- Hero section -->
     <section class="hero">
        <h1 class="hero__title">Bienvenidos a Gamer Techt</h1>
        <p class="hero__copy">Encuentra las mejores ofertas en Tecnología</p>
     </section>

     <!-- Oferta section -->
      <section class="offers">
        <h2 class="offers__title">Ofertas Destacadas</h2>
        <div class="offers__cards">
            <% productos.forEach(producto => {  %>
            <div class="offers__items">
                <figure class="offers__images">
                    <img class="offers__img" src="<%= producto.imagen_url %>" alt="<%= producto.nombre %>">
                </figure>
                <h3 class="offers__subtitle"><%= producto.nombre %></h3>
                <p class="offers__price">$<%= producto.precio.toLocaleString('es-CO') %></p>
                <a href="#" class="offers__cta">Añadir al carrito</a>
            </div>
            <% }); %>

            <div class="offers__items">
                <figure class="offers__images">
                    <img class="offers__img" src="images/peripherals-1.png" alt="">
                </figure>
                <h3 class="offers__subtitle">Periféricos</h3>
                <p class="offers__price">$5.999.000</p>
                <a href="#" class="offers__cta">Añadir al carrito</a>
            </div>

            <div class="offers__items">
                <figure class="offers__images">
                    <img class="offers__img" src="images/Refrigeration-1.png" alt="">
                </figure>
                <h3 class="offers__subtitle">Chasis</h3>
                <p class="offers__price">$5.999.000</p>
                <a href="#" class="offers__cta">Añadir al carrito</a>
            </div>

            <div class="offers__items">
                <figure class="offers__images">
                    <img class="offers__img" src="images/Power-Sources-1.png" alt="">
                </figure>
                <h3 class="offers__subtitle">PC Gamer Ultra</h3>
                <p class="offers__price">$5.999.000</p>
                <a href="#" class="offers__cta">Añadir al carrito</a>
            </div>

        </div>
      </section>

      <!-- Gamer section -->
       <section class="gamer">
        <h2 class="gamer__title">Juegos Destacados</h2>
        <p class="gamer__copy">Elige el juego y empieza a disfrutar de una experiencia inolvidable con una inmersión total.</p>
        <div class="gamer__card">
            <div class="gamer__item">
                <figure class="gamer__figure">
                    <img class="gamer__img" src="images/Cyberpunk-PC-Gamer-Barato.png" alt="">
                </figure>
                <h3 class="gamer__subtitle">Valorant</h3>
                <p class="gamer__price">$5.999.000</p>
                <a href="#" class="gamer__cta">Añadir al carrito</a>
            </div>

            <div class="gamer__item">
                <figure class="gamer__figure">
                    <img class="gamer__img" src="images/Warzone-2-PC-Streaming-Gamer.png" alt="">
                </figure>
                <h3 class="gamer__subtitle">Spiderman Remastered</h3>
                <p class="gamer__price">$5.999.000</p>
                <a href="#" class="gamer__cta">Añadir al carrito</a>
            </div>

            <div class="gamer__item">
                <figure class="gamer__figure">
                    <img class="gamer__img" src="images/NFS-Unbound-PC-Gamer-Bogota.png" alt="">
                </figure>
                <h3 class="gamer__subtitle">Fornite</h3>
                <p class="gamer__price">$5.999.000</p>
                <a href="#" class="gamer__cta">Añadir al carrito</a>
            </div>

            <div class="gamer__item">
                <figure class="gamer__figure">
                    <img class="gamer__img" src="images/gta-5_480x580fill_ffffff.png" alt="">
                </figure>
                <h3 class="gamer__subtitle">GTA V</h3>
                <p class="gamer__price">$5.999.000</p>
                <a href="#" class="gamer__cta">Añadir al carrito</a>
            </div>
        </div>
       </section>
  </main>
<%- include('includes/footer') %>