<%- include('includes/header') %>
<!-- Main content -->
<main class="contenedor">
    <!-- Hero section -->
     <section class="hero">
        <h1 class="hero__title">Bienvenidos a Gamer Techt</h1>
        <p class="hero__copy">Encuentra las mejores ofertas en Tecnología</p>
     </section>

     <!-- Oferta section -->
      <section class="offers">
        <h2 class="offers__title">Ofertas Destacadas en Accesorios </h2>
        <div class="offers__cards">
            <% productos.forEach(producto => {  %>
            <div class="offers__items">
                <figure class="offers__images">
                    <img class="offers__img" src="<%= producto.imagen_url %>" alt="<%= producto.nombre %>">
                </figure>
                <h3 class="offers__subtitle"><%= producto.nombre %></h3>
                <p class="offers__price">$<%= producto.precio.toLocaleString('es-CO') %></p>
                <a href="#" class="offers__cta" data-producto-id="<%= producto.id %>" >Añadir al carrito</a>
            </div>
            <% }); %>

        </div>
      </section>

<!-- samu Gamer section -->
      <section class="gamer">
        <h2 class="gamer__title">Juegos De samu </h2>
        <div class="gamer__cards">
            <% juegos.forEach(producto=> {  %>
            <div class="gamer__items">
                <figure class="gamer__images">
                    <img class="gamer__img" src="<%= producto.imagen_url %>" alt="<%= producto.nombre %>">
                </figure>
                <h3 class="gamer__subtitle"><%= producto.nombre %></h3>
                <p class="gamer__price">$<%= producto.precio.toLocaleString('es-CO') %></p>
                <a href="#" class="gamer__cta" data-producto-id="<%= producto.id %>" >Añadir al carrito</a>
            </div>
            <% }); %>

        </div>
      </section>

 

  </main>
<%- include('includes/footer') %>