<%- include('includes/adminlte') %>
<!-- Content Wrapper. Contains page content -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Listado total de productos</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Listado de productos</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado total de productos</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Id</th>
                <th>Nom producto</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Categoria</th>
                <th>Imagen ref</th>
              </tr>
              </thead>
              <tbody>
                <% productos.forEach(producto => {  %>
              <tr>
                <td><%= producto.id %></td>
                <td><%= producto.nom_producto %></td>
                <td><%= producto.descripcion %></td>
                <td><%= producto.precio.toLocaleString('es-CO') %></td>
                <td><%= producto.stock %></td>
                <td><%= producto.nom_categoria %></td>
                <td>
                    <img style="width: 70px;"; class="product__img" src="<%= producto.imagen_url %>" alt="<%= producto.nombre %>">
                </td>
              </tr>
              <% }); %>
              </tbody>
              <tfoot>
              <tr>
                <th>Id</th>
                <th>Nom producto</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Categoria</th>
                <th>Imagen ref</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

<%- include('includes/adminfoot') %>